@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Space Mono", monospace;
    background: #c5e4e7;
  }
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
